.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

/* Info text for hovering on icons */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: var(--color-mocha);
  color: var(--color-text-light);
  text-align: center;
  font-size: 0.75rem;
  border-radius: 6px;
  padding: 6px 8px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.skill-icon {
  height: 10vh;
  padding: 8px;
  border-radius: 5px;
}

.text-block {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

h2 {
  font-family: var(--font-heading);
  margin: 0;
}
p {
  text-align: left;
}
.text-block {
  width: 500px;
  font-size: var(--font-size-md);
}
.skill-icon:hover {
  background-color: var(--color-primary);
}

.navbar-links a:hover {
  background-color: var(--color-primary);
  color: var(--color-mocha);
}

/* Swap to other icon version */
.hover-swap {
  transition: all 0.2s ease;
}

.tooltip:hover .tooltip-text {
  animation: showTooltip 0.2s forwards;
  animation-delay: 1.2s;
}

@keyframes showTooltip {
  to {
    visibility: visible;
    opacity: 1;
  }
}
