.file-wrapper {
  height: 700px;
  margin-top: 35px;
}
.tab-titles {
  overflow: hidden;
  text-align: left;
  background-color: var(--color-bg);
  justify-content: left;
}

.tablink {
  padding: 0.5rem 1rem;
  border: var(--color-primary);
  background-color: var(--color-primary-2);
  cursor: pointer;
  margin-right: 8px;
  border-top-right-radius: var(--radius-sm);
  border-top-left-radius: var(--radius-sm);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: var(--shadow-lg);
}

.tablink:focus {
  outline: none;
  box-shadow: none;
}

.tablink.active {
  background-color: var(--color-primary);
  border: 0px;
}
.tablink:hover {
  background-color: var(--color-primary-1);
}

.tab-area {
  border-radius: var(--radius-sm);
  border-top-left-radius: 0px;
  background-color: var(--color-primary);
  height: 650px;
  min-width: 350px;
  width: 70vw;
  box-shadow: var(--shadow-lg);
  justify-content: left;
  overflow-y: scroll;
}

.divider {
  border-color: var(--color-mocha);
  border-width: 0.5px;
}
.link-text {
  color: var(--color-mocha);
}
.link-text:hover {
  color: var(--color-secondary);
}
/* Format Skills equally Spaced */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 2rem;
}
/* Small screens change grid */
@media screen and (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
